body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: .8em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hero-image {
    background: url(/images/hero.svg);
    height: 210px;
    margin: 0;
    background-position: center;
    background-size: cover;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 130px;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 45%;
}

h4 {
    position: relative;
    z-index: 3;
    color: white;
    text-shadow: 1px 1px 5px gold;
    margin-bottom: 0px;
}

.countdown {
    text-align: center;
    margin-top: 40px;
    padding: .6em 1.2em;
    font-size: .9em;
    font-weight: bold;
}

.main {
    width: 100%;
    padding: 1em 0 2em;
}

.main h4 {
    color: black;
    text-shadow: none;
}

.main img {
    height: 140px;
    width: 300px;
    border-radius: 200px;
}

.main p {
    padding-bottom: 40px;
}

.cta {
    background-color:#CE6FDF;
    margin: 0 auto;
    margin-bottom: 5%;
    width: 200px;
    height: 40px;
    display: block;
    border-radius: 30px;
    text-decoration: none;
    padding-top: 20px;
    font-size: 1em;
    color: white;
}

footer {
    border-top-right-radius: 100px;
    background-color: #EFF0F0;
    padding: 20px;
}

.footer-links li {
    display: inline-block;
    font-size: 12px;
    padding: 20px;
}

footer ul li a {
    text-decoration: none;
    list-style-type: none;
    font-size: 1em;
    margin: auto;
}

nav ul {
    position: fixed;
    width: 50%;
    background: #FFE388;
    top: 0;
    right: 0;
    text-align: left;
    height: 100%;
    z-index: 7;
    padding-top: 2em;
}

nav ul li a {
    color: white;
    background: #FFE388;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
}


nav ul li a:hover {
    color: white;
    text-decoration: none;
    background: rgb(255, 222, 115);
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: 0;
    margin-right: 1em;
    text-align: right;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

@media only screen and (min-width: 524px)  {
    
    .hero-image {
        background: url(/images/hero.svg);
        height: 100vh;
        margin: 0;
        background-position: center;
        background-size: cover;
    }

    .container h4 {
        font-size: 3em;
        margin-top: 40vh;
    }

    .main {
        display: flex;
    }

    .main ul li {
        float: left;
    }

    .main img {
        width: 280px;
        height: 180px;
    }

    .main h4 {
        margin: 40px;
        font-size: 20px;
    }

    .main ul {
        align-items: center;
        padding: 10px;
        margin-bottom: 50px;
        float: left;
        width: 30%; 
    }

    .main ul p {
        padding: 0;
    }

    

}